Repository witzbeck/mlops_capstone: changes, and which pre-commit hooks are due for each by the changed paths.
All: rm-old-covertura, pytest, sqlfluff-fix, sqlfluff-lint

rm-old-covertura:
  name: Remove old covertura reports
  entry: rm -rf .coverage .coverage.xml htmlcov
  language: system
  pass_filenames: false
  stages:
  - commit

pytest:
  name: pytest
  entry: poetry run pytest --cov=app --cov=frontend -n auto
  language: system
  pass_filenames: false
  stages:
  - commit

sqlfluff-fix:
  language: system
  name: SQLFluff Fix
  entry: sqlfluff fix
  args:
  - --dialect
  - postgres
  stages:
  - commit

sqlfluff-lint:
  language: system
  name: SQLFluff Lint
  entry: sqlfluff lint
  args:
  - --dialect
  - postgres
  stages:
  - commit

rename database to app_db
  database/Dockerfile
  database/init_scripts/00_00_meta.py
  database/init_scripts/00_01_init.sh
  database/init_scripts/01_01_create_databases.sql
  database/init_scripts/01_02_create_schemata.sql
  database/init_scripts/01_create_00_su.sql
  database/postgres-dev.conf
  database/postgres-prod.conf
  database/postgres-test.conf
  database/tests/test_database_loads_data.py
Due: rm-old-covertura, pytest, sqlfluff-fix, sqlfluff-lint

add test workflow for child deps
  .github/workflows/docker-deploy.yml
  .github/workflows/test-child-apps.yml
  .pre-commit-config.yaml
  app/.python-version
  app/poetry.lock
  app/pyproject.toml
  app/tests/test_extraction.py
  capstone.code-workspace
  frontend/.python-version
  frontend/poetry.lock
  frontend/pyproject.toml
  mlflow/Dockerfile
  mlflow_db/Dockerfile
  poetry.lock
  pyproject.toml
  ruff.toml
  scripts/poetry-lock-packages.sh
  scripts/rebuild-docker-compose.sh
Due: rm-old-covertura, pytest

fix frontend tests
  .github/workflows/test-child-apps.yml
  frontend/__init__.py
  frontend/tests/test_init.py
Due: rm-old-covertura, pytest

chore: Remove commented out line in pre-commit config file
  .pre-commit-config.yaml
  app/poetry.lock
  frontend/poetry.lock
Due: none

chore: Update poetry lock files for app and frontend packages
  scripts/poetry-lock-packages.sh
Due: none

chore: Update Python version to 3.10 in pyproject.toml files
  app/pyproject.toml
  frontend/pyproject.toml
Due: none

chore: Update Python version to 3.10 in pyproject.toml files
  .pre-commit-config.yaml
  app/poetry.lock
  frontend/poetry.lock
Due: none

chore: Update test workflow to include directory change before running tests
  .github/workflows/test-child-apps.yml
Due: none

chore: Update pytest configuration for app and frontend packages
  app/pyproject.toml
  frontend/pyproject.toml
Due: none

chore: Add coverage dependency to test dependencies
  app/poetry.lock
  app/pyproject.toml
  frontend/poetry.lock
  frontend/pyproject.toml
Due: none

chore: Update ruff.toml with additional linting rules
  ruff.toml
Due: none

chore: Update pytest configuration for app and frontend packages
  .github/workflows/test-child-apps.yml
  app/app/main.py
  app/poetry.lock
  app/pyproject.toml
  frontend/poetry.lock
  frontend/pyproject.toml
  ruff.toml
Due: rm-old-covertura, pytest

chore: Update .env file handling to check if it exists before updating environment variables
  .github/workflows/test-child-apps.yml
  frontend/__init__.py
Due: rm-old-covertura, pytest

chore: Update import statements in frontend code to use absolute paths
  .pre-commit-config.yaml
  capstone.code-workspace
  frontend/Home.py
  frontend/__init__.py
  frontend/frontend/constants.py
  frontend/pages/IngestPDF.py
  frontend/pages/Monitoring.py
  frontend/tests/test_init.py
  ruff.toml
Due: rm-old-covertura, pytest

chore: Update import statements in frontend code to use absolute paths
  frontend/tests/test_init.py
Due: rm-old-covertura, pytest

chore: Add Check Files and Versions step to test-child-apps workflow
  .github/workflows/test-child-apps.yml
Due: none

chore: Update ruff.toml with additional linting rules
  app/pyproject.toml
  frontend/pyproject.toml
Due: none

chore: Refactor frontend code to use absolute paths for imports
  frontend/__init__.py
  frontend/frontend/__init__.py
  frontend/pyproject.toml
Due: rm-old-covertura, pytest

chore: Update test-child-apps workflow to write DotEnv file and check files and versions
  .github/workflows/test-child-apps.yml
  scripts/mk-dotenv.py
Due: rm-old-covertura, pytest

chore: Update dump_dotenv function to allow optional parameters for path, pairs, and force
  scripts/mk-dotenv.py
Due: rm-old-covertura, pytest

chore: Install Poppler (conditional) in test-child-apps workflow
  .github/workflows/test-child-apps.yml
Due: none

chore: Update test-child-apps workflow to install Tesseract OCR alongside Poppler
  .github/workflows/test-child-apps.yml
Due: none

add logs to gitignore add rebuild shell script
  rebuild-docker-compose.sh
Due: none

split database into two containers
  app/app/__main__.py
  mlflow_db/Dockerfile
  mlflow_db/init_scripts/00_01_init.sh
Due: rm-old-covertura, pytest

chore: Update Docker deployment workflow to include psycopg and sqlalchemy dependencies
  mlflow/Dockerfile
Due: none

split database into two containers
  app/app/__init__.py
  mlflow_db/Dockerfile
  mlflow_db/init_scripts/00_01_init.sh
Due: rm-old-covertura, pytest

chore: Update Docker deployment workflow to include FASTAPI_PORT and MLFLOW_ARTIFACT_URI environment variables
  app/app/__init__.py
Due: rm-old-covertura, pytest

Path conditions:
  rm-old-covertura: any of: \.py$
  pytest: any of: \.py$
  sqlfluff-fix: any of: \.sql$
  sqlfluff-lint: any of: \.sql$
